.body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1440px;
    margin: 0, auto;
}


/* common */
.common_width {
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

#name {
    width: 128px;
    height: 33px;
    color: rgba(13, 19, 33, 1);
    font-size: 28px;
    font-weight: 800;
}

#resumeBtn {
    width: 244px;
    height: 57px;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgba(13, 19, 33, 1);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.navbar {
    padding: 50px 150px 40px 150px;
    display: flex;
    justify-content: space-between;
}


/* banner */

#banner {
    background-image: url("/assect/Hero-bg.png");
    height: 652px;
    justify-items: center;
}

#bannerimg {
    max-width: 140px;
    height: 145px;
    padding: 26px;
}

.bannerTitle {
    color: rgba(13, 19, 33, 1);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    padding-top: 32px;
}

.bannerText {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 24px;
}

.contactBtn {
    width: 244px;
    height: 57px;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    background: rgba(13, 19, 33, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.bannerbtncenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
}


/* Development  seation*/
#development {
    border-radius: 16px;
    padding: 80px 97px 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 80px;
    justify-items: center;
}

.developmentTitle {
    width: 852px;
    height: 37px;
    font-size: 32px;
    font-weight: 800;
    color: rgba(13, 19, 33, 1);
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.developmentText {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}

.common_developmentRow {
    width: 946px;

    height: 336px;
    display: flex;
    padding: 48px;
    gap: 98.83px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

.common-developmentRow-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;

    font-weight: 700;
    text-align: left;
}

.common-developmentRow-image {
    width: 240px;
    height: 240px;


}

.common-developmentRow-text {
    color: rgba(13, 19, 33, 1);
    opacity: 0.7;
}

.common-developmentRow-box {
    width: 477px;
}

.common-developmentRow-btn {
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    border: 1px solid rgba(13, 19, 33, 1);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
}

.developmentRow-1 {
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
}

.developmentRow-2 {
    background: linear-gradient(270.00deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;
}

.developmentRow-3 {
    background: linear-gradient(270.00deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;

}

/* My Inspiration */

.inspiration_text {
    width: 852px;
    height: 113px;
    margin: 0 auto;

}

.inspiration_title {
    color: rgba(13, 19, 33, 1);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 90px;
}

.inspiration_description {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.inspiration_vedio_box {
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    width: 1100px;
    height: 614px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

.inspiration_vedio {
    width: 1060px;
    height: 550px;

    border-radius: 16px;
    justify-items: center;

}

.common_target_box {

    width: 364px;
    height: 299px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

.common_target_box_padding {
    width: 284px;
    height: 219px;
    margin: 0 auto;
    margin-top: 40px;

}

.common_skil_title {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 800;
}

.common_skil_description {
    opacity: 0.7;
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
}

.common_skil_btn {
    color: rgba(13, 19, 33, 1);

    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    border: none;
}

.common_target {
    display: flex;
    gap: 24px;
}

.html_box {
    background: rgba(255, 76, 30, 0.05);
}

.css_box {
    background: rgba(0, 76, 232, 0.05);
}

.javascript_box {
    background: rgba(255, 223, 0, 0.05);
}



/*support seation*/
.support_continer {
    width: 1140px;
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-image: url("./assect/handshake.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

.sub_support_continer {
    width: 1044px;
    height: 185px;
}

.support_title {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support_description {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.input {
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 548px;
    height: 9px;
    padding: 19px 20px 19px 20px;
    text-align: left;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);

}

.submit_btn {
    width: 120px;
    height: 57px;
    align-items: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;

}

.support_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* footer seation */
.footer {
    max-width: 1440px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    margin-bottom: 50px;

}

.footer_title {
    color: rgba(13, 19, 33, 1);

    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    justify-content: center;
}

.footer_box {
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;

}

.midia_icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
}
.midia_box{
    display: flex;
    gap: 20px;
}